extends layout

block head
  link(rel='stylesheet' href='interface.css')
  script(src='/vendor/jsmpg.js')
  script(src='/vendor/validator.js')

block content

  .state.ready
    h1 Ready
    canvas#live-preview

  .state.countdown
    .countdown-screen.one
    .countdown-screen.two
    .countdown-screen.three
    .countdown-screen.prep
        
  .state.recording

  .state.done

  .state.processing
  
  .state.contact
    .contact-form
      label ENTER YOUR PHONE NUMBER
      input(type='tel', id='phone-entry')

  script(src='/interface.js')
