extends layout

block head
  link(rel='stylesheet' href='showcase.css')

block content

  .video-player.video-one
    video
      source(src='')

  .video-player.video-two
    video
      source(src='')

  script(src='/showcase.js')
