body{
  color: white;
  background-color: white;
}


.state, .countdown-screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  -webkit-transition: linear .1s opacity;
  opacity: 0;
  z-index: 2;
}
.state.show, .countdown-screen.show{
  opacity: 1;
}

h1{
  position: absolute;
  top: 0;
}

video{
  height: 100%;
}



/* Countdown */
#live-preview{
  position: absolute;
  top: 0;
  height: 100%;
  display: block;
  margin: auto;
  left: 12.5%;
  z-index: 1;
}
.countdown-screen.prep{
  background-image: url('/screens/prep.png');
}
.countdown-screen.three{
  background-image: url('/screens/countdown-3.png');
}
.countdown-screen.two{
  background-image: url('/screens/countdown-2.png');
}
.countdown-screen.one{
  background-image: url('/screens/countdown-1.png');
}

/* Contact */
#phone-entry{
  font-family: 'Cubano';
  color: #adf130;
  font-weight: bold;
  font-size: 600%;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 43%;
  left: 31%;
  width: 56%;
  z-index: 3;
}
#phone-entry:focus {
  outline-width: 0;
}
