body{
  font-family: 'GT Walsheim';
  color: white;
}


#live-preview{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.state, .countdown-screen{
  display: none;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
}
.state.ready{
  display: block;
}
.state.contact .contact-form{
  width: 60%;
  margin: auto;
  margin-top: 20%;
}
.state.contact .contact-form label{
  display: block;
  font-size: 140%;
  margin-bottom: 10px;
}
.state.contact .contact-form input{
  font-size: 140%;
  padding: 5px;
  border: none;
  width: 100%;
  text-align: center;
}
.state.recording{
  background-image: url('/screens/recording.png');
}
.state.done{
  background-image: url('/screens/done.png');
}
.state.processing{
  background-image: url('/screens/processing.png');
}
.countdown-screen.one{
  background-image: url('/screens/countdown-1.png');
}
.countdown-screen.two{
  background-image: url('/screens/countdown-2.png');
}
.countdown-screen.three{
  background-image: url('/screens/countdown-3.png');
}
.countdown-screen.prep{
  background-image: url('/screens/prep.png');
}



.state.ready .live-feed{
  width: 100%;
  height: 100%;
}
